:root{

}

body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}


.header {
    background-color: lightgreen;
    
    padding: 6px;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.inner-header {
    background-color: lime;
    position:relative;
    height: 48px;
    float: right;
}	

.image {
    background-color: lightskyblue;
    align-items: center;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);

    box-sizing: border-box;
}

.inner-image {
    background-color: burlywood;
    max-height: 100%;
    max-width: 272px;
    object-position: center bottom;
    object-fit: contain;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: text-bottom;
}

.foogle-logo {

}

.search-bar {
    background-color: lightyellow;
    padding: 20px;
    max-height: 160px;
    box-sizing: border-box;
    max-width: 584px;
    width: auto;
    position: relative;
    padding-top: 6px;
    margin: auto;

}

.separator {
    background-color: lightpink;
    flex-grow: 1;
}

.footer {
    background-color: lightsteelblue;
    box-sizing: border-box;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    max-width: 672px;
}

.first-inner-footer {

}

.second-inner-footer {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}